body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  height: 70vh; }

.footer-16371 {
  background-color: #1f1f24;
  padding: 6rem 0;
  font-family: "Poppins", sans-serif; }
  .footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900; }
    .footer-16371 .footer-site-logo a {
      color: #CE1212; }
  .footer-16371 .nav-links {
    padding: 0;
    margin: 0; }
    .footer-16371 .nav-links li {
      display: inline-block; }
      .footer-16371 .nav-links li a {
        padding: 10px;
        color: #7F7F90; }
        .footer-16371 .nav-links li a:hover {
          color: #fff; }
  .footer-16371 .social h3 {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 18px;
    color: #fff; }
  .footer-16371 .social ul li {
    display: inline-block; }
    .footer-16371 .social ul li a {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      width: 40px;height: 40px;
      color: rgba(255, 255, 255, 0.7) !important;
      margin: 0 4px;
      display: inline-block;
      padding: 10px; }
    .footer-16371 .social ul li a:hover{
      border-color: #fff; }
  .footer-16371 .copyright {
    color: #999999; }
/******/
