<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CARP | Support us with ETH!</title>
        <link rel="stylesheet" href="<?php echo BASE_URL ?>/app/views/success/style.css">
    </head>
    <body>
        <div class="container">
            <div class="popup">
                <img src="<?php echo BASE_URL ?>/app/views/success/tick.png">
                <h2>注册成功!</h2>
                <p>返回登录页面进行下一步操作</p>
                <button type="button" class="confirm" title="Confirm" onclick="window.location.href='../../index.php'">返回</button>
            </div>
        </div>
    </body>
</html>
