body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem 9rem !important;
}
@media(max-width: 769px) {
    .padding {
        padding: 0 !important;
    }
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 40px;
}

.card-block {
    padding: 1.25rem;
}
.card-block p.m-b-10.f-w-600 {
    font-size: 14px;
    padding: 0 16px;
}
.card-block .text-muted {
    padding-left: 24px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.6s;
}

.img-radius:hover {
    filter: blur(1px) saturate(50%);
    cursor: pointer;
}
 
h6 {
    font-size: 16px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.custom-btn {
    width: 130px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 16px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
/* 1 */
.btn-1 {
transition: all 0.3s ease;
}
.btn-1:hover {
    box-shadow:
    -7px -7px 20px 0px #0002,
    -4px -4px 5px 0px #0002,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}